.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf2ff;
}

.dropout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background-color: white;
  width: 800px;
  height: 600px;
  padding: 20px;
  overflow-x: auto;
}
